/*******************
APIRANTES, este es el archivo css de la evaluación
puede modificar o eliminar su contenido

Suerte!!!
********************/

body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.test {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(234, 241, 251);
  border: solid 1px rgb(186, 186, 186);
  padding: 20px;
  border-radius: 30px
}

code {
  background-color: rgb(255, 240, 240);
  padding: 2px;
  border: solid 1px  rgb(244, 183, 183);
}

li  {
  margin-bottom: 6px;
}

ul, ol {
  margin-bottom: 10px;
}

.logo {
  width: 100%;
  text-align:right;
}

.logo img {
  clear: none;
  width: 300px;
}
